body {
  font-family: Arial, sans-serif;
}

.people {
  --columns: 2;

  display: grid;
  justify-content: center;
  grid-template-columns: repeat(var(--columns) , 200px);
  gap: 30px;
  padding: 30px 30px 155px;
  column-gap: 30px;
  row-gap: 40px;

  @media (min-width: 1000px) {
    --columns: 4; 
  }

  @media (min-width: 1500px) {
    --columns: 4;  
  }

  @media (max-width: 500px) {
    --columns: 2; 
  }
}

.person{
  width: 220px;
  padding: 0;  

  &__photo{
    position: relative;
    width: 200px;  
    margin: 0 auto; 

    img{
      width: 200px;
      height: 200px;
      display: flex;
      display: block;
      border-radius: 200px;
    }
  }

  &__rank{
      position: absolute;
      top: 84px;
      right: 10px;
      background-color: #FFF;
      font-weight: 700;
      color: #8B0000;
      border-radius: 20px;
      padding: 7px 12px;
    }

    &__details{
      box-sizing: border-box;
      padding: 8px 13px;
      text-align: center; 
      width: 200px;  
      margin: 0 auto; 

      position: relative;
    }

    &__name{
      display: block;
      font-weight: 700;
      color: #2F4F4F;
    }

  &__extra{
    position: absolute;
    bottom: -20px;   
    left: 13px;   
    right: 13px;  
    opacity: 0;
    font-weight: 400;
  }

  &:hover &__details, 
  &:hover &__photo {
    background: #EEEEEE;  
    width: 220px;
    z-index: 2; 
  }

  &:hover &__photo {
    padding: 0px 10px;
  }

  &:hover &__rank{
      right: 40px;
  }

  &:hover &__details &__extra {
    opacity: 1;
  }
}
